{
    margin: 0 16px;
    padding: 24 0px;
}
.cabecalho {
    background-color: blue;  color: white;
    display: flex;
justify-content: space-around;
padding: 24 0px;
font-size: 24px;
}
.cabecalho-imagem {
    width: 20%;
}

.cacalho-lista-item {
   display: inline-block;
}